img {
    width:250px;
    border:solid 97px rgb(242, 0, 255);
}
body {
    background-color: rgba(0, 149, 255, 0.93);
}





h2{color :blueviolet}





h3{color:blueviolet}


h4{color:blueviolet}


h5{color:blueviolet}


h6{color:rgb(126, 44, 202)}






















































































































































































































































































































































































































































































































































































































































































